<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>
    <h1>Login and Registration</h1>
    <h2>Register</h2>
    <h3>Please enter in your information below to register with us.</h3>
    {% if messages %}
    <ul class='messages'>
        {% for message in messages %}
        <li{% if message.tag %} class='{{ message.tag }}' {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/register" method="POST">
        {% csrf_token %}
        <p>
            <label>First Name:</label>
            <input type="text" name='first_name'>
        </p>
        <p>
            <label>Last Name:</label>
            <input type="tex" name="last_name">
        </p>
        <p>
            <label>Email:</label>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password:</label>
            <input type="text" name="password">
        </p>
        <p>
            <label>Confirm Password</label>
            <input type="text" name="cpassword">
        </p>
        <p>
            <input type="submit" value='Register'>
        </p>
    </form>
    <br>
    <hr>
    <br>
    <h2>Login</h2>
    {% if messages %}
    <ul class='messages'>
        {% for message in messages %}
        <li{% if message.tag %} class='{{ message.tag }}' {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/login" method="POST">
        {% csrf_token %}
        <p>
            <label>Email:</label>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password:</label>
            <input type="text" name="password">
        </p>
        <p>
            <label>Confirm Password</label>
            <input type="text" name="cpassword">
        </p>
        <p>
            <input type="submit" value='Login'>
        </p>
    </form>
</body>
</html>