<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
    <h1>Login Successful!</h1>
    <h2>Welcome {{ user.first_name }}!</h2>
    <a href='/logout'>Logout</a>
</body>
</html>